<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <style>
      canvas {
        display: block;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -o-crisp-edges;
        image-rendering: auto;
        -ms-interpolation-mode: nearest-neighbor;
      }

      #game-container {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="game-container"></div>
    <script>
      function IsFullScreen() {
        return !!(
          document.fullscreenElement ||
          document.mozFullScreenElement ||
          document.webkitFullscreenElement ||
          document.msFullscreenElement
        );
      }
      function exitHandler(event) {
        var canvas = document.querySelector("canvas");
        if (canvas && !IsFullScreen()) {
          console.log("exit handler called");
          setTimeout(() => {
            canvas.style.removeProperty("width");
            canvas.style.removeProperty("height");
          },canvas, 3000);
        }
      }
      document.addEventListener("fullscreenchange", exitHandler);
      document.addEventListener("webkitfullscreenchange", exitHandler);
      document.addEventListener("mozfullscreenchange", exitHandler);
      document.addEventListener("MSFullscreenChange", exitHandler);
      // document.addEventListener("keyup", exitHandler);
    </script>
  </body>
</html>
