<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <style>
      canvas {
        display: block;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -o-crisp-edges;
        image-rendering: auto;
        -ms-interpolation-mode: nearest-neighbor;
      }

      #game-container {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }
      .full-screen {
        width: 100%;
        height: 100%;
      }

      #full > a {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="game-container">
      <div id="full">
        <button onclick="fullscreen()" title="Press Esc to Exit">
          Full Screen
        </button>
      </div>
    </div>
  </body>
  <script>
    var isFullScreen = false;
    function fullscreen() {
      var canvas = document.querySelector("canvas");
      if (canvas) {
        canvas.style.width = "100%";
        canvas.style.height = "100%";
        isFullScreen = true;
      }
    }
    function keyPress(e) {
      var canvas = document.querySelector("canvas");
      if (e.key === "Escape" && isFullScreen) {
        if (canvas) {
          canvas.style.width = "";
          canvas.style.height = "";
        }
      }
    }
    document.addEventListener("keyup", keyPress);
  </script>
</html>
